
.bible-verse {
    background-color: #A5B7FF;
    padding: 1em;
    color: white;
    overflow: hidden;
}

.bible-verse p {
    text-align: center;
    padding: 1em;
}

.btn-bible{
    color: #A5B7FF;
    border: 0;
    font-weight: bold;
    background-color: white;
    display: block;
    float: right;
}

.btn-bible:hover {
    background-color: #EA4485;
    color: white;
}

.btn-custom {
    border: 0;
    background-color: white;
    color: #6148FF;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #EA4485;
    color: white;
}

.carousel-caption {
    bottom: 14%;
}

.carousel-caption-bg {
    background-color: #EA4485;
    width: 50%;
    min-width: 350px;
    padding: 1em;
    margin: auto;
}

.carousel-caption-bg p {
    font-size: 1.2em;
}

.carousel-img {
    height: 75vh;
    object-fit: cover;
}

.navbar-custom {
    background-color: #6148FF;
}

.navbar-nav > a {
    margin-left: 10px;
}

.side-margins {
    margin-left: 3%;
    margin-right: 3%;
}